{% extends "havneafgifter/card.html" %}

{% comment %}
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Password reset' %}{% endblock title %}

{% block card_title %}{% translate 'Reset your password' %}{% endblock card_title %}

{% block card_content %}
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
<form method="POST">
    {% csrf_token %}
    <div class="d-flex align-items-end">
        <div class="col-4">
            {% bootstrap_form form wrapper_class="" %}
        </div>
        <div class="col-4 ">
            <button class="btn btn-primary mx-3 d-flex align-items-center" type="submit">

            <span class="material-icons me-1">replay</span>
                {% translate 'Reset my password' %}
            </button>
        </div>
    </div>
</form>
<div class="row mt-3 pt-3">
    <a href="{% url 'havneafgifter:login' %}">{% translate 'Return to login' %}</a>
</div>
{% endblock card_content %}
