{% extends "havneafgifter/card.html" %}

{% comment %}
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Password reset' %}{% endblock title %}

{% block card_title %}{% translate 'Reset your password' %}{% endblock card_title %}

{% block card_content %}
<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
<div class="mt-3 pt-3">
    <a href="{% url 'havneafgifter:login' %}" class="btn btn-primary">{% translate 'Log in' %}</a>
</div>
{% endblock %}
