{% extends "havneafgifter/card.html" %}

{% comment %}
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Password reset confirmation' %}{% endblock title %}

{% block card_title %}{% translate 'Password reset confirmation' %}{% endblock card_title %}

{% block card_content %}
{% if validlink %}
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}" />
        {% bootstrap_form form wrapper_class="" %}
        <button class="btn btn-primary mt-3" type="submit">{% translate 'Change my password' %}</button>
    </form>
{% else %}
    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
