/* Align "django-select2" widgets with Bootstrap general look */
.select2-selection {
    border-color: #dee2e6 !important;
    padding: 4px !important;
    height: 38px !important;
    border-radius: var(--bs-border-radius) !important;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.select2-dropdown {
    border-color: #dee2e6 !important;
}
.select2-selection__arrow {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-position: right .75rem center;
    background-size: 16px 12px;
    background-repeat: no-repeat;
    height: 38px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px !important;
}
.select2-selection__arrow b {
    display: none;
}

/* card.html base template */
.card {
    width: 45rem;
}

.form-label {
    font-weight: bold;
}

/* Emphasise form receipt help texts */
table.receipt td p {
    font-style: italic;
}
.tooltip.error-tooltip {
  --bs-tooltip-bg: #2c0b0e;
  --bs-tooltip-color: #dee2e6;
}
.tooltip.error-tooltip .tooltip-inner {
  border: 1px solid var(--bs-danger);
}
