*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/er/*
!data/er/.gitkeep
*.sqlite3
**/.coverage
*.log.*
*.swp
*changelog.*

*.venv*/
*.vscode/
*.code-workspace
**/.DS_Store
**/__pycache__
**/.coverage*
**/node_modules/

dev-environment/cache/*
!dev-environment/cache/.gitkeep
staticfiles/
