default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
        - flake8-absolute-import
        args:
        - "--max-line-length=88"
        - "--exclude=**/migrations/*.py,settings.py"
        - "--extend-ignore=E226,E203"

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        exclude: '(^env/|^venv/|migrations/)'
        args:
        - "--target-version=py312"

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        exclude: '(^env/|^venv/|migrations/)'
        args: ["--profile", "black"]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.24.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ push ]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.9.1
    hooks:
      - id: eslint
        additional_dependencies: [ 'eslint', '@eslint/js' ]
        args: [ '--config', '.eslint/eslint.config.js' ]
