# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

services:

  havneafgifter-web:
    user: "75170:1000"  # Override in docker-compose.override.yml if your local user is different
    container_name: havneafgifter-web
    image: havneafgifter:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - ./dev-environment/havneafgifter.env
    depends_on:
      - havneafgifter-db
    volumes:
      - ./havneafgifter/:/app:rw
      - ./mypy.ini:/mypy.ini:ro
      - file-data:/upload  # rw for at kunne teste; bør være ro i deployments
      - ./log/havneafgifter.log:/log/havneafgifter.log:rw
      - ./dev-environment/cert:/ssl:ro
      - pdf-data:/storage/pdf:rw
      - ./dev-environment/cache/:/static/CACHE/:rw
    environment:
      - MAKE_MIGRATIONS=true
      - MIGRATE=true
      - LOAD_FIXTURES=true
      - LOAD_DEMODATA=true
      - HOME=/tmp/
    ports:
      - "8050:8000"
    networks:
      - default
      - database
      - mail
    restart: unless-stopped
    command: gunicorn -b 0.0.0.0:8000 project.wsgi:application --reload -w 1 --access-logfile - --error-logfile - --capture-output # reload on code changes

  havneafgifter-db:
    # Do not set `user` here
    container_name: havneafgifter-db
    image: postgres:16
    env_file:
      - ./dev-environment/havneafgifter.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backupdata:/backupdata:rw
    restart: always
    networks:
      - database

  havneafgifter-mailhog:
    container_name: havneafgifter-mailhog
    image: mailhog/mailhog
    logging:
      driver: 'none' # Disable saving logs
    ports:
      - "8052:8025"
    networks:
      - mail

  havneafgifter-hosts-updater:
    container_name: havneafgifter-hosts-updater
    image: bash
    volumes:
      - ./dev-environment/hosts.sh:/hosts.sh:ro
      - /etc/hosts:/hosts:rw
    command: [ "bash", "/hosts.sh" ]

volumes:
  postgres-data:
  file-data:
  pdf-data:

networks:
  default:
  database:
  mail:
