asgiref==3.9.2
beautifulsoup4==4.13.5
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.4
coverage==7.10.7
cryptography==43.0.3
cssselect2==0.8.0
defusedxml==0.7.1
Django==5.2.6
django-appconf==1.1.0
django-bootstrap5==24.3
django-countries==7.6.1
django-csp-helpers==0.7.1
django-extensions==3.2.3
django-filter==24.3
django-forms-dynamic==1.0.0
django-fsm-2==4.1.0
django-select2==8.4.1
django-simple-history==3.10.1
django-sql-utils==0.7.0
django-stubs==4.2.7
django-stubs-ext==5.2.5
django-tables2==2.7.5
django-tempus-dominus==5.1.2.17
django-weasyprint==2.4.0
django_csp==3.8
django_compressor==4.5.1
django-libsass==0.9
elementpath==4.8.0
fonttools==4.60.0
gunicorn==22.0.0
html5lib==1.1
idna==3.10
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
mypy==1.18.2
mypy-extensions==1.1.0
openpyxl==3.1.5
packaging==24.2
pillow==11.3.0
psycopg==3.2.12
pycparser==2.23
pydot==3.0.4
pydyf==0.11.0
pyOpenSSL==24.3.0
pyparsing==3.2.5
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.5
setuptools==80.9.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.3
tablib==3.7.0
tinycss2==1.4.0
types-pytz==2024.2.0.20241221
types-PyYAML==6.0.12.20250915
types-requests==2.31.0.20240218
types-python-dateutil==2.9.0.20250822
typing_extensions==4.12.2
unittest-parametrize==1.4.0
urllib3==2.2.3
weasyprint==62.3
webencodings==0.5.1
whitenoise==6.0.0
xmlschema==2.5.1
xmltodict==0.14.2
zopfli==0.2.3.post1
