{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
{% endcomment %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load compress %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'bootstrap/theme.scss' %}" rel="stylesheet" media="screen" nonce="{{ request.csp_nonce }}">
    {% endcompress %}
    <link href="{% static 'havneafgifter/custom.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <link href="{% static 'material-design/filled.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <title>{% block title %}{% translate "Havneafgifter" %}{% endblock %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <header>
        <nav class="nav navbar navbar-expand py-3 my-3">
            <h1 class="navbar-brand py-0 my-0"><a href="{% url 'havneafgifter:harbor_dues_form_list' %}">Talippoq.gl</a></h1>
            <ul class="navbar-nav d-flex align-items-center">
                {% if user.is_authenticated %}
                {% if user.can_view_list %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:harbor_dues_form_list' %}" class="d-flex align-items-center">
                        <span class="material-icons">description</span>
                        <span class="ms-1">{% translate 'My forms' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_statistics %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:statistik' %}" class="d-flex align-items-center">
                        <span class="material-icons">bar_chart</span>
                        <span class="ms-1">{% translate 'Statistics' %}</span>
                    </a>
                </li>
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:passenger_statistics' %}" class="d-flex align-items-center">
                        <span class="material-icons">groups</span>
                        <span class="ms-1">{% translate 'Passengerdata' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_taxratelist %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:tax_rate_list' %}" class="d-flex align-items-center">
                        <span class="material-icons">assignment</span>
                        <span class="ms-1">{% translate 'Rates' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_edit_master_data %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:update_vessel' %}" class="d-flex align-items-center">
                        <span class="material-icons">edit</span>
                        <span class="ms-1">{% translate 'Edit master data' %}</span>
                    </a>
                </li>
                {% endif %}
                {% endif %}{# user.is_authenticated #}
            </ul>
            <ul class="navbar-nav d-flex align-items-center ms-auto">
                {% if user.can_create %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:harbor_dues_form_create' %}" class="btn btn-primary d-flex align-items-center">
                        <span class="material-icons">add</span>
                        <span class="ms-1">{% translate 'Create new' %}</span>
                    </a>
                </li>
                {% endif %}
                <div class="d-flex align-items-center ms-4">
                    <span class="material-icons dark-icon">language</span>
                    <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-right mx-1 my-2">
                        {% csrf_token %}
                        <div class="form-group">
                            <select name="language" class="form-select language-picker">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                                    {{ language.name_local|capfirst }}
                                </option>
                                {% endfor %}
                            </select>
                            <script nonce="{{ request.csp_nonce }}">$("[name=language]").on("change", function () {
                                this.form.submit()
                            })</script>
                        </div>
                    </form>
                </div>
                <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                            <span class="material-icons dark-icon fs-3 d-flex">account_circle</span>
                        {% else %}
                            <span class="material-icons dark-icon fs-3 d-flex">help</span>
                        {% endif %}
                    </a>
                    <div id="settings" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <h4>{{ user.display_name }}</h4>
                        <h5>{% translate "About Talippoq" %}</h5>
                        <p>{% translate 'Version' %}: {{ version }}</p>
                        <p>
                            {% translate 'Source code' %}:
                            <a href="https://github.com/magenta-aps/havneafgifter">{% translate "Github - Havneafgifter" %}</a>
                        </p>
                        <p>{% translate 'Contact' %}: {{ contact_email }}</p>
                        {% if user.is_authenticated %}

                            <div class="d-flex">
                                <a href="{% url 'havneafgifter:logout' %}" class="btn btn-primary d-flex align-items-center" id="logout-link">
                                    <span class="material-icons me-1">login</span>
                                    {% translate "Log out" %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    {% endblock nav %}
    {% block body %}
    {% endblock body %}
    {% block modals %}
    {% if landing_modal %}
    <div id="landing_modal" class="modal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% translate "Bemærk" %}</h5>
                </div>
                <div class="modal-body">
                    {% translate 'Du må først fakturere et anløb, når dette beløb har status "Godkendt" i Talippoq.' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Forstået" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        $(function() {
            const csrftoken = "{{ csrf_token }}";
            const landing_modal = $('#landing_modal');
            landing_modal.modal('show');
            landing_modal.on("hide.bs.modal", function (){
                $.ajax({
                    method: "post",
                    url: "{% url 'havneafgifter:landing_modal_ok' %}",
                    headers: {"X-CSRFToken": csrftoken}
                });
            });
        });
    </script>
    {% endif %}
    {% endblock modals %}
</body>
</html>
