{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
{% endcomment %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load compress %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'bootstrap/theme.scss' %}" rel="stylesheet" media="screen" nonce="{{ request.csp_nonce }}">
    {% endcompress %}
    <link href="{% static 'havneafgifter/custom.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <link href="{% static 'material-design/filled.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <title>{% block title %}{% translate "Havneafgifter" %}{% endblock %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <header>
        <nav class="nav navbar navbar-expand py-3 my-3">
            <h1 class="navbar-brand py-0 my-0">Talippoq.gl</h1>
            <ul class="navbar-nav d-flex align-items-center">
                {% if user.is_authenticated %}
                {% if user.can_view_list %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:harbor_dues_form_list' %}" class="d-flex align-items-center">
                        <span class="material-icons">description</span>
                        <span class="ms-1">{% translate 'My forms' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_statistics %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:statistik' %}" class="d-flex align-items-center">
                        <span class="material-icons">bar_chart</span>
                        <span class="ms-1">{% translate 'Statistics' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_taxratelist %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:tax_rate_list' %}" class="d-flex align-items-center">
                        <span class="material-icons">assignment</span>
                        <span class="ms-1">{% translate 'Rates' %}</span>
                    </a>
                </li>
                {% endif %}
                {% if user.can_view_edit_master_data %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:update_vessel' %}" class="d-flex align-items-center">
                        <span class="material-icons">edit</span>
                        <span class="ms-1">{% translate 'Edit master data' %}</span>
                    </a>
                </li>
                {% endif %}
                {% endif %}{# user.is_authenticated #}
            </ul>
            <ul class="navbar-nav d-flex align-items-center ms-auto">
                {% if user.can_create %}
                <li class="nav-item ms-4">
                    <a href="{% url 'havneafgifter:harbor_dues_form_create' %}" class="btn btn-primary d-flex align-items-center">
                        <span class="material-icons">add</span>
                        <span class="ms-1">{% translate 'Create new' %}</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item ms-4 dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                    </a>
                    <div id="settings" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <h4>{{ user.display_name }}</h4>
                        <h5>{% translate "About Talippoq" %}</h5>
                        <p>{% translate 'Version' %}: {{ version }}</p>
                        <p>
                            {% translate 'Source code' %}:
                            <a href="https://github.com/magenta-aps/havneafgifter">{% translate "Github - Havneafgifter" %}</a>
                        </p>
                        <p>{% translate 'Contact' %}: {{ contact_email }}</p>
                        <h5>{% translate "Language" %}</h5>
                        <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-right mx-1 my-2">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="language" class="form-control">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                                        {{ language.name_local|capfirst }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <script nonce="{{ request.csp_nonce }}">$("[name=language]").on("change", function () {
                                    this.form.submit()
                                })</script>
                            </div>
                        </form>
                        {% if user.is_authenticated %}
                        <a href="{% url 'havneafgifter:logout' %}" class="btn btn-primary mx-1 my-2" id="logout-link">
                            {% translate "Log out" %}
                        </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    {% endblock nav %}
    {% block body %}
    {% endblock body %}
    {% block modals %}
    {% if landing_modal %}
    <div id="landing_modal" class="modal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% translate "Bemærk" %}</h5>
                </div>
                <div class="modal-body">
                    {% translate 'Du må først fakturere et anløb, når dette beløb har status "Godkendt" i Talippoq.' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Forstået" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        $(function() {
            const csrftoken = "{{ csrf_token }}";
            const landing_modal = $('#landing_modal');
            landing_modal.modal('show');
            landing_modal.on("hide.bs.modal", function (){
                $.ajax({
                    method: "post",
                    url: "{% url 'havneafgifter:landing_modal_ok' %}",
                    headers: {"X-CSRFToken": csrftoken}
                });
            });
        });
    </script>
    {% endif %}
    {% endblock modals %}
</body>
</html>
