{% extends "havneafgifter/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block body %}
<div class="content">
    <div class="row">
        <div class="col-6">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
            {% block object_title %}
            {% endblock object_title %}
        </div>
        <div class="col-6">
            {% block object_actions %}
            {% endblock object_actions %}
        </div>
    </div>
    <div class="row mt-3">
        {# Displays messages from the Django 'messages' framework #}
        {% bootstrap_messages %}
    </div>
    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}
