{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate 'Cruise Ships: Environmental and Maintenance Fee' %}
{% endblock %}

{% block content %}
<h1>{% translate 'Cruise Ships: Environmental and Maintenance Fee' %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        {% blocktrans trimmed %}
        Please notice that environmental and maintenance fees apply to <b>all</b>
        passengers on board at the time of disembarkment, regardless of how many
        passengers disembark. Register total number of passengers on board at the time of disembarkation.
        {% endblocktrans %}
    </div>
    <div class="col-6">
        {# Formset asking for number of passengers at each disembarkment site #}
        {% bootstrap_form disembarkment_formset.management_form %}
        {% for form in disembarkment_formset.forms %}
            {% ifchanged form.get_municipality_display %}
                <h2>{{ form.get_municipality_display }}</h2>
            {% endifchanged %}
            {% bootstrap_field form.number_of_passengers placeholder="0" layout="horizontal" horizontal_label_class="col-9" horizontal_field_class="col-3" %}
        {% endfor %}
    </div>
    {# Pass `status=NEW` or `status=DRAFT` depending on which submit button is used #}
    {% bootstrap_button button_type="submit" name="status" value="NEW" content=_("Submit") %}
    {% bootstrap_button button_type="submit" name="status" value="DRAFT" content=_("Save as draft") %}
</form>
{% endblock content %}
