{% extends "havneafgifter/layout.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<h1>{% translate "Environmental and maintenance fee" %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        {% blocktrans %}
        Please notice that environmental and maintenance fees apply to <b>all</b>
        passengers on board at the time of disembarkment, regardless of how many
        passengers disembark.
        {% endblocktrans %}
    </div>
    <div class="col-6">
        {# Formset asking for number of passengers at each disembarkment site #}
        {% bootstrap_form disembarkment_formset.management_form %}
        {% for form in disembarkment_formset.forms %}
            {% ifchanged form.get_municipality_display %}
                <h2>{{ form.get_municipality_display }}</h2>
            {% endifchanged %}
            {% bootstrap_field form.number_of_passengers layout="horizontal" horizontal_label_class="col-9" horizontal_field_class="col-3" %}
        {% endfor %}
    </div>
    {% bootstrap_button button_type="submit" content=_("Continue") %}
</form>
{% endblock content %}
