{% extends "havneafgifter/layout.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<h1>{% translate "Environmental and maintenance fee" %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        {% blocktrans %}
        Please notice that environmental and maintenance fees apply to <b>all</b>
        passengers on board at the time of disembarkment, regardless of how many
        passengers disembark.
        {% endblocktrans %}
    </div>
    {% bootstrap_formset disembarkment_formset layout="horizontal" %}
    {% bootstrap_button button_type="submit" content=_("Continue") %}
    {% bootstrap_button button_type="reset" content=_("Cancel") %}
</form>
{% endblock content %}
