{% extends "havneafgifter/base_default.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_modal %}

{% block title %}
{% translate "Harbour Dues/Port Tax" %}
{% endblock %}

{% block extra_headers %}
<script nonce="{{ request.csp_nonce }}" src="{% url 'javascript-catalog' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'havneafgifter/form_actions.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'havneafgifter/form_step_1.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{% translate "Harbour Dues/Port Tax" %}</h1>
<form action="." method="post" class="form" id="main" novalidate data-user-type="{{ user.user_type }}">
    {% csrf_token %}
    {{ base_form.media.css }}
    {{ base_form.media.js }}

    {% if base_form.user_visible_non_field_errors %}
    <ul class="list-unstyled text-danger">
        {% for error in base_form.user_visible_non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
        <div class="col-9">
            {% bootstrap_field base_form.port_of_call %}
        </div>
        <div class="col-3">
            {% bootstrap_field base_form.no_port_of_call wrapper_class="pt-3 mt-3 mb-3" %}
        </div>
    </div>

    {% bootstrap_form base_form exclude="port_of_call,no_port_of_call,status" alert_error_type="none" %}

    <h2>{% translate 'Cruise Ships: Passenger Tax ("Pax Tax")' %}</h2>

    {# Formset asking for number of passenger of each nationality #}
    {% bootstrap_form passenger_formset.management_form %}
    {% for form in passenger_formset.forms %}
    <div class="formset-item row mb-3">
        <div class="col-6 d-flex justify-content-between">
            {% bootstrap_field form.nationality show_label=False wrapper_class="col-6 me-3" %}
            {% bootstrap_field form.number_of_passengers show_label=False wrapper_class="col-4 me-3" %}
            <div class="col-2">
                <button class="btn btn-primary">-</button>
                {% if forloop.last %}
                <button class="btn btn-primary">+</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <h2>{% translate 'Cruise Ships: Environmental and Maintenance Fee' %}</h2>

    {# Formset asking for number of passengers at each disembarkment site #}
    {% bootstrap_form disembarkment_formset.management_form %}
    {% for form in disembarkment_formset.forms %}
    <div class="formset-item row mb-3">
        <div class="col-6 d-flex justify-content-between">
            {% bootstrap_field form.disembarkment_site show_label=False wrapper_class="col-6 me-3" %}
            {% bootstrap_field form.number_of_passengers show_label=False wrapper_class="col-4 me-3" %}
            <div class="col-2">
                <button class="btn btn-primary">-</button>
                {% if forloop.last %}
                <button class="btn btn-primary">+</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <hr>

    {% if user_is_ship and object.shipping_agent is not None %}
        {# Ship users can only create DRAFT cruise ship forms if a shipping agent has been specified #}
        {% bootstrap_button button_type="submit" name="status" value="DRAFT" content=_("Forward to agent") %}
    {% else %}
        {# Pass `status=NEW` or `status=DRAFT` depending on which submit button is used #}
        {% bootstrap_button button_type="submit" name="status" value="NEW" content=_("Submit") %}
        {% bootstrap_button button_type="submit" name="status" value="DRAFT" content=_("Save as draft") %}
    {% endif %}
    <input type="hidden" name="status" />
</form>
{# Popups for ship users #}
{% inform_ship_user_on_save_shipping_agent_modal object %}
{% inform_ship_user_on_save_no_shipping_agent_modal object %}
{% inform_ship_user_on_submit_modal object %}

<script nonce="{{ request.csp_nonce }}">
    $("[name={{ base_form.vessel_imo.name }}]").on("invalid", function () {
        if (this.validity.tooShort || this.validity.tooLong) {
            this.setCustomValidity("{% translate 'IMO numbers should be 7 digits' %}");
        } else {
            this.setCustomValidity("");
            this.reportValidity();
        }
    });
</script>
{% endblock content %}
