{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Harbour Dues/Port Tax" %}
{% endblock %}

{% block extra_headers %}
<script nonce="{{ request.csp_nonce }}" src="{% url 'javascript-catalog' %}"></script>
<script nonce="{{ request.csp_nonce }}">
(function () {
    $(document).ready(function () {
        const form = $("form");
        const noPortOfCallCheckbox = $("#id_no_port_of_call");
        const portOfCallSelect = $("#id_port_of_call")
        const datetimeInputs = $("#id_datetime_of_arrival, #id_datetime_of_departure");
        const grossTonnageInput = $("#id_gross_tonnage");
        const vesselTypeSelect = $("#id_vessel_type");
        const submitButton = $("button[type=submit][value=NEW]");
        const submitDraftButton = $("button[type=submit][value=DRAFT]");

        const toggleButtonText = function (state) {
            let submitButtonText = gettext("Save");
            let submitDraftButtonText = gettext("Save as draft");
            if (state) {
                submitButtonText = gettext("Continue");
                submitDraftButtonText = gettext("Continue as draft");
            }
            submitButton.text(submitButtonText);
            submitDraftButton.text(submitDraftButtonText);
        }

        // Update text on submit buttons, depending on the selected vessel type.
        vesselTypeSelect.on("change", function () {
            const vesselType = $(this).val();
            const state = vesselType === "CRUISE";
            toggleButtonText(state);
        });

        // Disable "port of call", etc. inputs, if "no port of call" is selected.
        // Enforce vessel type CRUISE if "no port of call" is selected.
        // Update text on submit button depending on the selected vessel type,
        noPortOfCallCheckbox.on("change", function () {
            const disabled = $(this).is(":checked") ? "disabled" : null;

            portOfCallSelect.attr("disabled", disabled);
            datetimeInputs.attr("disabled", disabled);
            grossTonnageInput.attr("disabled", disabled);
            vesselTypeSelect.attr("disabled", disabled);

            if (disabled) {
                portOfCallSelect.val(null);
                datetimeInputs.val(null);
                grossTonnageInput.val(null);
                // Enforce vessel type CRUISE
                vesselTypeSelect.val("CRUISE");
            }

            toggleButtonText(disabled === "disabled");
        });

        // Hook form submit, so we can ensure that vessel type field is still
        // POSTed to server, even if it is disabled.
        form.on("submit", function (evt) {
            vesselTypeSelect.attr("disabled", null);
        });
    });
})();
</script>
{% endblock %}

{% block content %}
<h1>{% translate "Harbour Dues/Port Tax" %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    {{ form.media.css }}
    {{ form.media.js }}

    <div class="row">
        <div class="col-9">
            {% bootstrap_field form.port_of_call %}
        </div>
        <div class="col-3">
            {% bootstrap_field form.no_port_of_call wrapper_class="pt-3 mt-3 mb-3" %}
        </div>
    </div>

    {% if form.user_visible_non_field_errors %}
    <ul class="list-unstyled text-danger">
        {% for error in form.user_visible_non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% bootstrap_form form exclude="port_of_call,no_port_of_call,status" alert_error_type="none" %}

    {# Pass `status=NEW` or `status=DRAFT` depending on which submit button is used #}
    {% bootstrap_button button_type="submit" name="status" value="NEW" content=_("Save") %}
    {% bootstrap_button button_type="submit" name="status" value="DRAFT" content=_("Save as draft") %}
</form>
<script nonce="{{request.csp_nonce}}">
    $("[name={{form.vessel_imo.name}}]").on("invalid", function () {
        if (this.validity.tooShort || this.validity.tooLong) {
            this.setCustomValidity("{% translate 'IMO numbers should be 7 digits' %}");
        } else {
            this.setCustomValidity("");
            this.reportValidity();
        }
    });
</script>
{% endblock content %}
