{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>{% translate "Harbor dues list" %}</h1>

<form method="get">
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content=_("Filter") %}
</form>

<div class="table-responsive">
{% render_table table %}
</div>

<script nonce="{{request.csp_nonce}}">
    $(function(){
        $(".table-responsive table").on("click", "tr", function(event){
            const row = $(event.target).parents("tr");
            const link = row.find("a.btn").attr("href");
            if (link) {
                window.location=link;
            }
        });
    });
</script>

{% endblock content %}
