{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Harbour Dues/Port Tax" %}
{% endblock %}

{% block extra_headers %}
<script nonce="{{ request.csp_nonce }}" src="{% url 'javascript-catalog' %}"></script>
<script nonce="{{ request.csp_nonce }}">
(function () {
    $(document).ready(function () {
        // Update text on submit button depending on the selected vessel type
        const vesselTypeSelect = $("select#id_vessel_type");
        const submitButton = $("button[type=submit]");
        vesselTypeSelect.on("change", function () {
            const vesselType = $(this).val();
            let buttonText = gettext("Submit");

            if (vesselType === "CRUISE") {
                buttonText = gettext("Continue");
            }

            submitButton.text(buttonText);
        });

        // Disable "port of call", etc. inputs, if "no port of call" is selected
        const noPortOfCallCheckbox = $("input#id_no_port_of_call");
        const portOfCallSelect = $("select#id_port_of_call")
        const datetimeInputs = $("input#id_datetime_of_arrival, input#id_datetime_of_departure");
        const grossTonnageInput = $("input#id_gross_tonnage");
        noPortOfCallCheckbox.on("change", function () {
            const disabled = $(this).is(":checked") ? "disabled" : null;

            portOfCallSelect.attr("disabled", disabled);
            datetimeInputs.attr("disabled", disabled);
            grossTonnageInput.attr("disabled", disabled);

            if (disabled) {
                portOfCallSelect.val(null);
                datetimeInputs.val(null);
                grossTonnageInput.val(null);
            }
        });
    });
})();
</script>
{% endblock %}

{% block content %}
<h1>{% translate "Harbour Dues/Port Tax" %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    {{ form.media.css }}
    {{ form.media.js }}
    <div class="row">
        <div class="col-9">
            {% bootstrap_field form.port_of_call %}
        </div>
        <div class="col-3">
            {% bootstrap_field form.no_port_of_call wrapper_class="pt-3 mt-3 mb-3" %}
        </div>
    </div>
    {% bootstrap_form form exclude="port_of_call,no_port_of_call" %}
    {% bootstrap_button button_type="submit" content=_("Submit") %}
</form>
<script nonce="{{request.csp_nonce}}">
    $("[name={{form.vessel_imo.name}}]").on("invalid", function () {
        if (this.validity.tooShort || this.validity.tooLong) {
            this.setCustomValidity("{% translate 'IMO numbers should be 7 digits' %}");
        } else {
            this.setCustomValidity("");
            this.reportValidity();
        }
    });
</script>
{% endblock content %}
