{% extends "havneafgifter/card.html" %}

{% load i18n %}

{% block title %}
{% translate "Log in" %}
{% endblock %}

{% block card_title %}
{% translate "Log in" %}
{% endblock %}

{% block card_content %}
<form method="post">
    {% csrf_token %}
    <div class="row">
    <div class="col-md-5 mb-3">
        {{form.username}}
        {% if form.username.errors %}
        <div class="invalid-feedback">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    <div class="col-md-5 mb-3">
        {{form.password}}
        {% if form.password.errors %}
        <div class="invalid-feedback">{{ form.password.errors }}</div>
        {% endif %}
    </div>
    <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-primary">{% translate 'Log in' %}</button>
    </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
</form>

<a href="{% url 'mitid:login' %}{% if back %}?back={{back|urlencode}}{% endif %}">{% translate "Log in using MitID" %}</a>
{% endblock %}
