{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate 'Cruise Ships: Passenger Tax ("Pax Tax")' %}
{% endblock %}

{% block content %}
<h1>{% translate 'Cruise Ships: Passenger Tax ("Pax Tax")' %}</h1>
<form action="." method="post" class="form">
    {% csrf_token %}
    <div class="col-6">
        {# Separate form asking for total number of passengers #}
        {% bootstrap_form passengers_total_form wrapper_class="alert alert-secondary" %}

        {# Formset asking for number of passenger of each nationality #}
        {% bootstrap_form passengers_by_country_formset.management_form %}
        {% for form in passengers_by_country_formset.forms %}
            {% bootstrap_field form.number_of_passengers placeholder="0" layout="horizontal" horizontal_label_class="col-6" horizontal_field_class="col-6" %}
        {% endfor %}
    </div>
    {% bootstrap_button button_type="submit" content=_("Continue") %}
</form>
{% endblock content %}
