{% extends "havneafgifter/base_default.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Register vessel to report harbour dues" %}
{% endblock %}

{% block content %}
<h1 class="mb-4">{% translate "Register vessel to report harbour dues" %}</h1>
<form action="{% url 'havneafgifter:signup-vessel' %}" method="post" class="form">
    {% csrf_token %}
    {{ form.media.css }}
    {{ form.media.js }}

    {% bootstrap_form_errors form %}

    <h2 class="mb-4">{% translate 'Vessel details' %}</h2>
    {% bootstrap_form form exclude='password1,password2,first_name,last_name,email' %}

    <h2 class="mb-4">{% translate 'Contact person details' %}</h2>
    {% bootstrap_form form exclude='username,type,name,owner,master,gross_tonnage,nationality' %}

    <button type="submit" name="status" class="btn btn-primary d-flex align-items-center">
        <span class="material-icons">check</span>
        <span class="ms-1">{% translate "Opret skib" %}</span>
    </button>
</form>
{% endblock content %}
