{% extends "havneafgifter/base_default.html" %}

{% load static %}
{% load i18n %}
{% load csp %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% load media_csp %}
{% load export_url from django_tables2 %}

{% block extra_headers %}
<script src="{% static 'tempusdominus/popper.min.js' %}" nonce="{{request.csp_nonce}}"></script>
<script src="{% static 'tempusdominus/tempus-dominus.min.js' %}" nonce="{{request.csp_nonce}}"></script>
<link rel="stylesheet" href="{% static 'tempusdominus/tempus-dominus.min.css' %}" nonce="{{request.csp_nonce}}">
<link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}" nonce="{{request.csp_nonce}}">
<script src="{% static 'havneafgifter/statistik.js' %}" nonce="{{request.csp_nonce}}"></script>
<script src="{% static 'havneafgifter/form.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% translate "Harbor dues" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% blocktrans trimmed with form_id=form.pk %}
            Statistik
            {% endblocktrans %}
        </li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<h1 class="mb-4">{% translate "Find statistik" %}</h1>
{% blocktranslate %}
Vælg feltværdier der skal summeres på.
Hver kombination af valgte feltværdier giver en opsummeret række af data for de havneafgift-formularer der passer på kombinationen.
Hvis ingen feltværdier vælges indenfor et felt, opdeles ikke på feltet, og data indgår i de øvrige summationer.
{% endblocktranslate %}

<form action="" method="get">
    {% csrf_token %}
    {% media_csp form %}
    <div class="row mt-5">
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.municipality %}
        </div>
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.vessel_type %}
        </div>
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.site %}
        </div>
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.port_of_call %}
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.port_authority %}
        </div>
        <div class="col-3">
            {% include "havneafgifter/statistik/field_multiselect.html" with field=form.status %}
        </div>
        <div class="col-3">
            <label class="form-label" for="arrival_gt">{% translate "Periode fra"%}</label>
            <input type="datetime-local" name="arrival_gt" class="form-control">
        </div>
        <div class="col-3">
            <label class="form-label" for="arrival_lt">{% translate "Periode til"%}</label>
            <input type="datetime-local" name="arrival_lt" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary d-flex align-items-center">
        <span class="material-icons">search</span>
        <span class="ms-1">{% translate "Søg" %}</span>
    </button>
</form>
<br>
{% if form.data %}
{% render_table table %}
<a href="{% export_url 'xlsx' %}">{% translate 'Eksportér til Excel' %}</a>
{% endif %}
{% endblock %}
