{% extends "havneafgifter/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<h1>Redigér afgift sats eller periode</h1>
<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-2">
            <label for="{{form.pax_tax_rate.id_for_label}}">{% translate "Afgift per passager" %}</label>
        </div>
        <div class="col-4">
            {{form.pax_tax_rate}}
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label for="{{form.start_datetime.id_for_label}}">{% translate "Begyndelsesdato" %}</label>
        </div>
        <div class="col-4">
            {{ form.start_datetime }}
        </div>
    </div>

    <button class="btn btn-success my-2" type="submit">{% translate "Gem" %}</button>


    <table class="borderless-table">
        <thead>
        <tr>
            <th>{% translate "Afgifter pr. bruttoton" %}</th>
            <th>{% translate "Fra (ton)" %}</th>
            <th>{% translate "Til (ton)" %}</th>
            <th>{% translate "Rund op til (ton)" %}</th>
            <th>{% translate "Sats" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for form in port_formset %}
            <tr>
                <td>{{form.instance.pk}}</td>
                <td>{{form.gt_start}}</td>
                <td>{{form.gt_end}}</td>
                <td>{{form.round_gross_ton_up_to}}</td>
                <td>{{form.port_tax_rate}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</form>


{% endblock content %}
