{% extends 'havneafgifter/pdf/receipt.html' %}

{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}

{% block title %}
{% if form.has_port_of_call %}
{% translate 'Cruise Ships: Port Tax, Passenger Tax ("Pax Tax") and Environmental and Maintenance Fee' %}
{% else %}
{% translate 'Cruise Ships: Environmental and Maintenance Fee' %}
{% endif %}
{% endblock title %}

{% block headline %}
{% if form.has_port_of_call %}
<h2>Cruise Ships: Port Tax, Passenger Tax ("Pax Tax") and Environmental and Maintenance Fee</h2>
<h2 class="secondary">Umiarsuit takornariartaatit: Umiarsualivinnut, ilaasunut avatangiisinullu iluarsaassinermullu akitsuutit</h2>
{% else %}
<h2>Cruise Ships: Environmental and Maintenance Fee</h2>
<h2 class="secondary">Umiarsuit takornariartaatit: Avatangiisinut iluarsaassinermullu akitsuutit</h2>
{% endif %}
{% endblock %}

{% block extra_main %}
<tr>
    <td>
        <div>Purpose of port call</div>
        <div class="secondary">Umiarsualivimmut tuliannermi siunertaq</div>
    </td>
    <td colspan="3">
        Cruise
    </td>
</tr>
{% endblock extra_main %}

{% block additional_tables %}
{% if form.has_port_of_call %}
<section>
    <h2>Port Tax</h2>
    <h2 class="secondary">Umiarsualivimmiinnermut akitsuut</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-3">
                    <div>Gross Tonnage (GT)</div>
                    <div class="secondary">Bruttoton(s) (BT)</div>
                </th>
                <th class="col-3">
                    <div>Length of stay (commenced 24-hour intervals)</div>
                    <div class="secondary">Taleqqaneq (nalunaaquttap akunneri 24-kkaartut)</div>
                </th>
                <th class="col-3">
                    <div>DKK per/BT</div>
                    <div class="secondary">BT-mut ataatsimut DKK</div>
                </th>
                <th class="col-3">
                    <div>Port Tax</div>
                    <div class="secondary">Umiarsualivimmiinner mut akitsuut</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-3">
                    {{ form.gross_tonnage }}
                </td>
                <td class="col-3">
                    {{ form.duration_in_days }}
                </td>
                <td class="col-3">
                    {{ form.tax_per_gross_ton }} DKK
                </td>
                <td class="col-3">
                    {{ form.harbour_tax|default_if_none:0 }} DKK
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td class="col-3">
                    Total fee
                </td>
                <td class="col-3">
                    {{ form.harbour_tax|default_if_none:0 }} DKK
                </td>
            </tr>
        </tfoot>
    </table>
</section>
{% endif %}

{% if form.has_port_of_call or form.passengers_by_country.all %}
<section>
    {% if form.has_port_of_call %}
    {# Item: total number of passengers, total pax tax #}
    <h2>Pax Tax (cruise ships)</h2>
    <h2 class="secondary">Ilaasunut akitsuut</h2>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">
                        <div>Number of passengers on board at arrival at port</div>
                        <div class="secondary">Talinnermi ilaasut amerlassusaat</div>
                    </th>
                    <th class="col-3">
                        <div>Tax rate per passenger</div>
                        <div class="secondary">Akitsuut</div>
                    </th>
                    <th class="col-3">
                        <div>Pax Tax</div>
                        <div class="secondary">Ilaasunut akitsuut</div>
                    </th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-3">
                        {{ form.number_of_passengers }}
                    </td>
                    <td class="col-3">
                        50,00 DKK
                    </td>
                    <td class="col-3">
                        {{ form.pax_tax }} DKK
                    </td>
                    <td class="col-3"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="col-3"></td>
                    <td class="col-3">
                        Total fee
                    </td>
                    <td class="col-3">
                        {{ form.pax_tax }} DKK
                    </td>
                    <td class="col-3"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    {% endif %}

    {# List: passengers by country #}
    <h2>Nationality and number of passengers</h2>
    <h2 class="secondary">Ilaasut sumiuussusai qassiunerilu</h2>
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">
                        Nationality
                    </th>
                    <th class="col-3">
                        Number of passengers
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in form.passengers_by_country.all %}
                <tr>
                    <td class="col-3">
                        {{ p.get_nationality_display }}
                    </td>
                    <td class="col-3">
                        {{ p.number_of_passengers }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}

<section>
    {# List: disembarkments #}
    <h2>Environmental and Maintenance Fee</h2>
    <h2 class="secondary">Avatangiisinut iluarsaassinermullu akitsuut</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-3">
                    <div>Docks for disembarkment</div>
                    <div class="secondary">Niuffik</div>
                </th>
                <th class="col-3">
                    <div>Fee rate<sup>1</sup></div>
                    <div class="secondary">Akitsuut</div>
                </th>
                <th class="col-3">
                    <div>
                        Number of passengers on board at the time of disembarkment
                        <sup>2</sup>
                        <sup>3</sup>
                    </div>
                    <div class="secondary">Niusoqarnerani umiarsuarmi ilaasut amerlassusaat</div>
                </th>
                <th class="col-3">
                    <div>Aningaasat akiligassat</div>
                    <div class="secondary">Payable fee</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for d in disembarkment_tax_items %}
            <tr>
                <td class="col-3">
                    {{ d.disembarkment.disembarkment_site.name }}
                    ({{ d.disembarkment.disembarkment_site.get_municipality_display }})
                </td>
                <td class="col-3">
                    {% if d.taxrate %}
                    {{ d.taxrate.disembarkment_tax_rate }} DKK
                    {% else %}
                    0,00 DKK
                    {% endif %}
                </td>
                <td class="col-3">
                    {{ d.disembarkment.number_of_passengers }}
                </td>
                <td class="col-3">
                    {{ d.tax }} DKK
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td class="col-3">
                    Total fee
                </td>
                <td class="col-3">
                    {{ form.disembarkment_tax }} DKK
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>
                        <sup>1</sup>
                        If a fee is levied in the municipality, a fee rate chosen by the municipality will be shown here. The maximum fee rate is DKK 50.
                        /
                        <span class="secondary">Kommuni akitsuuteqartitsippat, akitsuut uani takuneqarsinnaavoq. Akiliut annerpaamik DKK 50-iuvoq.</span>
                    </p>
                    <p>
                        <sup>2</sup>
                        This number does not mean the number of passengers that disembarked at the site.
                        /
                        <span class="secondary">Piffimmi niusut amerlassusii pinnagit</span>
                    </p>
                    <p>
                        <sup>3</sup>
                        If disembarkments have occurred since the last call at a Greenlandic harbour and the location is listed above, insert the number of passengers on board the cruise ship at the time of disembarkment (not the number of passengers that disembarked at the site).
                        /
                        <span class="secondary">
                            Umiarsualivimmiinnermi kingullermi niusoqarsimappat qulaanilu sumiiffik allattoqqappat, niusoqarnerani umiarsuarmiittut allattukkit (piffimmi niusut allattornagit)
                        </span>
                    </p>
                </td>
            </tr>
        </tfoot>
    </table>
</section>

<section>
    {# Item: summary table with totals #}
    {% if form.has_port_of_call %}
    <h2>Payable Tax and Fee (Port Tax and Pax Tax) and Environmental and Maintenance Fee</h2>
    <h2 class="secondary">Akitsuut akilligassarlu (umiarsualivimmiinnermi akiliut ilaasumullu akitsuut) avatangiisinullu iluarsaassinermullu akitsuut</h2>
    {% else %}
    <h2>Payable Environmental and Maintenance Fee</h2>
    <h2 class="secondary">Akiligassaq avatangiisinut iluarsaassinermullu akitsuutit</h2>
    {% endif %}
    <table class="table">
        <tbody>
            {% if form.has_port_of_call %}
            <tr>
                <td class="col-3" colspan="2">
                    <div>Port Tax</div>
                    <div class="secondary">Umiarsualivimmiinnermut akiliut</div>
                </td>
                <td class="col-3">
                    {{ form.harbour_tax }} DKK
                </td>
            </tr>
            <tr>
                <td class="col-3" colspan="2">
                    <div>Pax Tax</div>
                    <div class="secondary">Ilaasumut akitsuut</div>
                </td>
                <td class="col-3">
                    {{ form.pax_tax }} DKK
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="col-3" colspan="2">
                    <div>Environmental and Maintenance Fee</div>
                    <div class="secondary">Avatangiisinut iluarsaassinermullu akitsuut</div>
                </td>
                <td class="col-3">
                    {{ form.disembarkment_tax }} DKK
                </td>
            </tr>
            <tr>
                <td class="col-3" colspan="2">
                    <div class="fw-bold">The total amount payable to the Harbour Administration</div>
                    <div class="secondary fw-bold">Umiarsualivimmi oqartussanut akiligassaq katillugu</div>
                </td>
                <td class="col-3 fw-bold">
                    {{ form.total_tax }} DKK
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock additional_tables %}
