{% extends 'havneafgifter/pdf/receipt.html' %}

{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load i18n %}

{% block title %}
{% translate "Harbour Dues" %}
{% endblock %}

{% block headline %}
<h2>Harbour Dues</h2>
<h2 class="secondary">Umiarsualivimmut Akileraarutit</h2>
{% endblock %}

{% block additional_tables %}
<section>
    {% if form.vessel_type == ShipType.PASSENGER %}
    <h2>Passenger vessel</h2>
    <h2 class="secondary">Umiarsuaq ilaarsartaat</h2>
    {% elif form.vessel_type == ShipType.FISHER %}
    <h2>Foreign fishing vessel</h2>
    <h2 class="secondary">Nunat allamiut aaliasariutaat</h2>
    {% elif form.vessel_type == ShipType.FREIGHTER %}
    <h2>Cargo vessel</h2>
    <h2 class="secondary">Umiarsuaq assartuut</h2>
    {% elif form.vessel_type == ShipType.OTHER %}
    <h2>Other vessel</h2>
    <h2 class="secondary">Umiarsuaq alla</h2>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div>Gross tonnage (GT)</div>
                    <div class="secondary">Bruttoton(s) (BT)</div>
                </th>
                <th>
                    {% if form.vessel_type in PASSENGER_OR_FISHER %}
                    <div>24 hours started</div>
                    <div class="secondary">Ullut unnuallu qassissaat</div>
                    {% elif form.vessel_type in FREIGHTER_OR_OTHER %}
                    <div>Weeks started</div>
                    <div class="secondary">Sap. Ak. qassissaat</div>
                    {% endif %}
                </th>
                <th>
                    <div>DKK per/BT</div>
                    <div class="secondary">BT-mut ataatsimut DKK</div>
                </th>
                <th>
                    <div>Dues</div>
                    <div class="secondary">Akileraarutit</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ form.gross_tonnage|default_if_none:"" }}
                </td>
                <td>
                    {% if form.vessel_type in PASSENGER_OR_FISHER %}
                    {{ form.duration_in_days }}
                    {% elif form.vessel_type in FREIGHTER_OR_OTHER %}
                    {{ form.duration_in_weeks }}
                    {% endif %}
                </td>
                <td>
                    {{ form.tax_per_gross_ton|default_if_none:0 }} DKK
                </td>
                <td>
                    {{ form.harbour_tax|default_if_none:0 }} DKK
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>
                    Total fee
                </td>
                <td>
                    {{ form.harbour_tax|default_if_none:0 }} DKK
                </td>
            </tr>
        </tfoot>
    </table>
</section>
{% endblock %}
