{% extends base %}

{% comment %}
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
{% endcomment %}

{% load l10n %}
{% load i18n %}
{% load bootstrap_modal %}
{% load bootstrap_status_badge %}

{% block extra_css %}
{# This block is only rendered when outputting PDF (not HTML) #}
@page {
    size: A4;
    margin: 2cm 1cm;
    font-family: sans-serif;

    @top-right {
        font-size: 7pt;
        text-align: right;
        content: 'Harbour dues {{ form.pk }} ({{ form.date|localize }}) / Umiarsualivimmut Akileraaruti {{ form.pk }} ({{ form.date|localize }})';
    }

    @bottom-center {
        font-size: 7pt;
        content: 'https://talippoq.aka.gl';
    }
}

.container {
    font-size: 7pt;
    font-family: sans-serif;
}

.secondary {
    color: #777;
}

section {
    page-break-inside: avoid;
    padding: 0.05cm 0.5cm 0.5cm 0.5cm;
    margin: 0 0 0.5cm 0;
    background: #f8f8f8;
    border-radius: 0.5cm;
}

h1 {
    font-size: 11pt;
    font-weight: bold;
}

h2 {
    font-size: 9pt;
    font-weight: normal;
}

sup {
    font-weight: bold;
}

table {
    page-break-inside: avoid;
}

table th {
    width: 1%;
    vertical-align: top;
    font-weight: normal;
    border-bottom: 1pt solid #ddd;
}

table tfoot td {
    font-weight: bold;
    line-height: 100%;
}

table tfoot td p {
    font-size: 5pt;
}

table td {
    width: 1%;
    word-wrap: break-word;
    line-height: 150%;
}

table td.table-active {
    background-color: #eee !important;
}

table td p {
    display: block;
    font-weight: bold;
}

table tfoot td p {
    font-weight: normal;
}

table.table-striped td:first-child {
    width: 10%;
}
{% endblock %}

{% block breadcrumb %}
{# This block is only rendered when outputting HTML (not PDF) #}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% translate "Harbor dues" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% blocktrans trimmed with form_id=form.pk %}
            Form {{ form_id }}
            {% endblocktrans %}
        </li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block object_title %}
{# This block is only rendered when outputting HTML (not PDF) #}
<h1 class="primary">Harbour dues &ndash; {{ form.pk }}</h1>
<h1 class="secondary">Umiarsualivimmut Akileraaruti &ndash; {{ form.pk }}</h1>
<p>{{ form.date|localize }}</p>
{% if form.latest_rejection %}
<div class="alert alert-danger">
    {% with user=form.latest_rejection.history_user.display_name %}
    {% with date=form.latest_rejection.history_date|date|localize %}
    <p>
        <i>
        {% blocktrans trimmed with user=user date=date %}
        Rejected by "{{ user }}" on {{ date }}
        {% endblocktrans %}
        </i>
    </p>
    <div>
        <b>{% translate 'Message' %}:</b>
    </div>
    <div>
        {{ form.latest_rejection.reason_text|linebreaksbr }}
    </div>
    {% endwith %}
    {% endwith %}
</div>
{% endif %}
{% endblock object_title %}

{% block object_actions %}
{# This block is only rendered when outputting HTML (not PDF) #}
<nav class="object-actions navbar navbar-expand-lg d-flex justify-content-end">
    {% bootstrap_status_badge form %}
    <a href="{% url 'havneafgifter:receipt_detail_pdf' pk=form.pk %}" class="btn btn-primary">
        {% translate 'View PDF' %}
    </a>
    {% if can_edit %}
    <a href="{% url 'havneafgifter:draft_edit' pk=form.pk %}" class="btn btn-primary ms-2">
        {% translate 'Edit' %}
    </a>
    {% endif %}
    {% if can_withdraw %}
    <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#withdrawModal">
        {% translate 'Withdraw forwarded form' %}
    </button>
    {% endif %}
    {% if can_approve %}
    <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#approveModal">
        {% translate 'Approve' %}
    </button>
    {% endif %}
    {% if can_reject %}
    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#rejectModal">
        {% translate 'Reject' %}
    </button>
    {% endif %}
</nav>
{% endblock %}

{% block modals %}
{# This block is only rendered when outputting HTML (not PDF) #}
{{ block.super }}
{% withdraw_form_modal form %}
{% approve_form_modal form %}
{% reject_form_modal form %}
{% endblock %}

{% block content %}
<div class="row receipt">
    <div class="col-12">
        <section>
            {% block headline %}{% endblock %}
            <table class="table">
                <tbody>
                    {% if form.has_port_of_call %}
                    <tr>
                        <td>
                            <div>Port of call</div>
                            <div class="secondary">Umiarsualivik nunaliffik</div>
                        </td>
                        <td colspan="3">
                            {{ form.port_of_call|default_if_none:"" }}
                        </td>
                    </tr>
                    {% endif %}

                    {% if form.nationality %}
                    <tr>
                        <td>
                            <div>Nationality</div>
                            <div class="secondary">Sumiuussuseq</div>
                        </td>
                        <td colspan="3">
                            {{ form.get_nationality_display|default_if_none:"-" }}
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <div>Vessel</div>
                            <div class="secondary">Angallat</div>
                        </td>
                        <td>
                            <i>Name / <span class="secondary">Angallatip aqqa</span></i>
                            <div>{{ form.vessel_name|default_if_none:"" }}</div>
                        </td>
                        <td colspan="2">
                            <i>Registration / <span class="secondary">Angallatip nalunaarsorneqarnerata normua</span></i>
                            <div>{{ form.vessel_imo }}</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>Owner</div>
                            <div class="secondary">Piginnittoq</div>
                        </td>
                        <td colspan="3">
                            {{ form.vessel_owner|default_if_none:"" }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>Master</div>
                            <div class="secondary">Umiarsuup naalagaa</div>
                        </td>
                        <td colspan="3">
                            {{ form.vessel_master|default_if_none:"" }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>Shipping agent/company</div>
                            <div class="secondary">Umiarsuaatileqatigiiffik</div>
                        </td>
                        <td colspan="3">
                            {{ form.shipping_agent|default_if_none:"" }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>Time of arrival</div>
                            <div class="secondary">Piffisasaq nunaliffik</div>
                        </td>
                        <td>
                            <i>Date / <span class="secondary">Ulloq</span></i>
                            <div>{{ form.datetime_of_arrival|date:"j-n-Y" }}</div>
                        </td>
                        <td colspan="2">
                            <i>Time / <span class="secondary">Nalunaaqutaq</span></i>
                            <div>{{ form.datetime_of_arrival|date:"H:i" }}</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>Time of departure</div>
                            <div class="secondary">Piffissaq aallarfissaq</div>
                        </td>
                        <td>
                            <i>Date / <span class="secondary">Ulloq</span></i>
                            <div>{{ form.datetime_of_departure|date:"j-n-Y" }}</div>
                        </td>
                        <td colspan="2">
                            <i>Time / <span class="secondary">Nalunaaqutaq</span></i>
                            <div>{{ form.datetime_of_departure|date:"H:i" }}</div>
                        </td>
                    </tr>

                    {% block extra_main %}
                    {% endblock %}
                </tbody>
            </table>
        </section>
        {% block additional_tables %}
        {% endblock %}
    </div>
</div>
{% endblock %}
